body{
  background-color: #bac1dc;
  width:100%;
  margin:0 auto;

}

/*design for mobile phone size*/
h1 {
text-align: center;
color: #5f4f98;
text-shadow: 3px;
font-weight: bold;
}

#message{
  width:80%;
  background-color: b1e09f;
  min-height: 30px;
  margin-left:10%;
  margin-right: 10%;
  text-align: center;
  color: #5f4f98;
  font-size: 20px;
  font-weight: bold;
}

.imageplace{
  max-height: 100%;
  max-width: 100%;
  /*object-fit: contain;*/
  margin: auto;
  display: block;
  /*background-size: cover;*/
}

/*div - container for players names*/
#p1Turn {
  margin-bottom: 10px;
  width: 49%;
  display:inline-block;
  color: #5f4f98;
  font-size: 20px;
  font-weight: bold;
}
#p2Turn {
margin-bottom: 10px;
width: 49%;
color:#5f4f98;
display: inline-block;
font-size: 20px;
font-weight: bold;
}
/*player names */
#p1 {
display: inline-block;
width:100px;
font-size: 20px;
height: 30px;
background-color: #bac1dc;
}
#scoreP1{
  height:30px;
  width: 33px;
  display: inline-block;
  font-size: 20px;
  color: #5f4f98;
  background-color: #bac1dc;
  box-shadow: 10px;
}

#p2 {
display: inline-block;
width:100px;
font-size: 20px;
height: 30px;
background-color: #bac1dc;
}

#scoreP2{
  height:30px;
  width: 33px;
  display: inline-block;
  font-size: 20px;
  color: #5f4f98;
  background-color: #bac1dc;
  box-shadow: 10px;
}

#naught {
  max-height: 60px;
  display: inline-block;
  vertical-align: bottom;

}
#cross {
  max-height: 60px;
  display: inline-block;
  vertical-align: bottom;

}
#buttonbar{
  max-width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 20px;
}
#play {
display: inline-block;
width:100px;
height: 30px;
}
#again{
  display: inline-block;
  width:100px;
  height: 30px;
}
#finish {
display: inline-block;
width:100px;
height: 30px;

}
#instr {
display: inline-block;
width:100px;
height: 30px;
}
.board {
  width = 90%
  display: inline-block;
}
/*'div for all squares -9 -3*3'*/
.squares {
width: 24%;
height:100px;
display: inline-block;
border: 2px solid black;
margin: 3%;
}

footer {
font-size: 10px;
text-align: center;
}
/*scale up for bigger screens*/

@media (min-width:50em) {
  body {
    width: 80%;
  }
  .squares{
    margin: 5%;
    min-height: 150px;
    width: 16.66666667%;
  }

@media (min-width:80em) {
    }
